.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.terminalEdit {
  .address {
    margin: 20px 0px;
  }
}

.nav-text{
  // color: rgb(0, 253, 253);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-text{
  font-size:30px;
  font-family: Arial, Helvetica, sans-serif;  
  text-decoration: underline;
}

.NewButton, .NewButton:hover{
    border-color: #00a680 #267060 #267060 #00a680;
    background-color: #00a680;
    color: #fff;
}