.btn {
  height: 35px;
  min-width: 120px;
  line-height: 19px;
  font-size: 10pt;
  border-radius: 0px;
  color: #fff;
  font-weight: 600 !important;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 6px;
  font-weight:100;
  outline:none;
  position:relative;
  border:none;
  cursor: pointer;
  font-family: $open-sans;
  outline: none;
  // text-transform: uppercase;
}
.btn:last-child,
.btn:last-of-type {
  margin-right: 0;
}
.btn:hover, 
.btn:focus {
  opacity:.8;
  outline: none;
}

.btn.border-bottom
{
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
}

.btn:focus,
.btn:active,
.btn:hover
{
    opacity: 1;
    outline:none !important;
    box-shadow: none;
}

.btn-icon i{
  position:absolute;
  left:20px;
  top: 12px;
}

.btn-sm.btn-icon i{
  left:10px;
  top: 9px;
}

.btn-lg {
  height: 50px;
  min-width: 200px;
}
.btn-sm {
  height: 30px;
  font-size: 9px;
  line-height: 20px;
  min-width: 0;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: $blue;
  color: #fff;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active{

  background: $gray-light;
  //border:1px solid $gray-dark;
  color: $gray-dark;
}

.btn-default {

  background: none;
  color: $gray-darkest;
  border: 1px solid $gray-light;

  &:focus, &:hover, &:active {
    background:$gray-light;
    color: $gray-darkest;
  }
}

.btn-danger,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active{

  background: $danger;
  color: #fff;
}

.btn-facebook,
.btn-facebook:focus,
.btn-facebook:active{
    background: $facebook;
    color: #fff;
}

.btn-linkedin,
.btn-linkedin:focus,
.btn-linkedin:active{
    background: #0077b5;
    color: #fff;
}


.btn-facebook:hover,
.btn-linkedin:hover{
    opacity:.8;
    color:#ffffff;
}


.btn-rounded {
  border-radius: 3px;
}
.btn:visited {
  /*color: #fff;*/
}
.btn-filled:visited {
  color: #fff;
}
