.page-header {
	margin-right: -30px;
	margin-left: -30px;
	padding: 30px;
	background: #fff;
	border-bottom: 2px solid $gray-light;

	.nav-tabs {
		margin-top: 30px;
		margin-bottom: -32px;

		li.nav-item {
			margin-right: 30px;
			a.nav-link {
				border: none !important;
				color: $gray;
				font-weight: 600;
				padding-left: 0px;
				padding-right: 0px;
				transition: opacity .5s ease-in-out;
				-webkit-transition: opacity .5s ease-in-out;
				-moz-transition: opacity .5s ease-in-out;
				&.active {
					color: $blue-lightest;
					border: none !important;
					border-bottom: 2px solid $blue-lightest !important;

					&:hover {
						color: $blue-lightest;
						border-bottom: 2px solid $blue-lightest !important;
					}
				}

				&:hover {
					color: $gray-darker;
					border: none !important;
				}
			}
		}
	}
}