.text-danger
{
    color:$danger;
}

.text-success
{
    color:$success;
}

.text-facebook
{
  color:$facebook;
}

.text-shadow
{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

p {
    color: $gray;
    line-height: 1.8;
}

a {
    //text-decoration: underline;
    cursor:pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    color: $black;

    &:hover, &:focus {
        color: $black;
        text-decoration: none;

    }
}

@media all and (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }

  .text-left-xs {
    text-align: left !important;
  }

  .text-right-xs {
    text-align: right !important;
  }
}

.text-center
{
    text-align:center;
}

.text-right
{
    text-align:right;
}

.text-left
{
    text-align:left;
}

.uppercase
{
    text-transform:uppercase;
}

.underline
{
    text-decoration:underline;
}

.text-white
{
  color:#ffffff;
}

.text-gray
{
  color:$gray-dark;
}

.text-bold
{
  font-weight:600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $open-sans;
    font-weight:600;
}

h1
{
    font-size: 52px;
    line-height: 1.2;
    font-weight:600;
}

h2
{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
}

h3
{

}


